<p id="notice"><%= notice %></p>
<h3> <%= job_title @job %>
 </h3>

<p><%= @job.description %></p>
<p><%= pluralize(@job.comments.size, 'Comments') %></p>
		<%= link_to 'Edit', edit_job_path(@job) %> |
		<%= link_to 'Back', jobs_path %>

<br>

<p>Comments</p>

<%= render @job.comments %>


