<p id="notice"><%= notice %></p>
<<<<<<< HEAD
=======
<p id="alert"><%= alert %></p>
>>>>>>> 4abd5ebc19491971e992174ee96bab52ee7eb0d3
<h3> <%= job_title @job %>
 </h3>

<p><%= @job.description %></p>
<p><%= pluralize(@job.comments.size, 'Comments') %></p>
		<%= link_to 'Edit', edit_job_path(@job) %> |
		<%= link_to 'Back', jobs_path %>

<br>

<<<<<<< HEAD
=======
<p>Send a comment</p>

<%= render 'comments/form' %>

>>>>>>> 4abd5ebc19491971e992174ee96bab52ee7eb0d3
<p>Comments</p>

<%= render @job.comments %>


